@reference "tailwindcss";

.action-btn {
    @apply flex-1 bg-blue-500 text-white rounded-sm px-3 py-2 cursor-pointer;
}

.input-section {
    @apply flex justify-center items-center gap-3 mb-2;

    .input-error-section {
        @apply flex-2 flex-col gap-1 justify-start items-center;
    }
}



input {
    @apply w-full px-2 py-1 rounded-md bg-white border;
}