@import "tailwindcss";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.4rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.3rem;
  font-weight: bolder;
}

h4 {
  font-size: 1.2rem;
  font-weight: bolder;
}

h5 {
  font-size: 1.1rem;
  font-weight: bolder;
}

h6 {
  font-size: 1rem;
  font-weight: bolder;
}

p {
  margin-bottom: 0px;
  font-size: 0.9rem;
}
