.calendar-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.167);

    .date-container {
        width: 100%;
        height: 100%;
        grid-row: span 1;
        grid-column: span 1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.167);
        border-right: 1px solid rgba(0, 0, 0, 0.167);

        /* last row */
        &:nth-last-child(-n + 7) {
            border-bottom: none;
        }
    }
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}