.container {
    transition: grid-template-columns 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.left-container {
    width: 100%;
    max-width: 100%;
}

.left-container > * {
    width: 100%;
    max-width: 100%;
}

.minimise-button {
    position: absolute;
    top: 55px;
    width: 36px;
    aspect-ratio: 1 / 1;
    left: var(--tw-left);
    rotate: var(--tw-rotate);
    scale: var(--tw-scale);
    transition: rotate 0.5s ease-in-out, 
        left 0.5s ease-in-out, 
        scale 0.5s ease-in-out;

    vertical-align: middle;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        scale: calc(var(--tw-scale) + 0.2);
    }
}